@media only screen and (max-width: 1024px) {
    .nav-item a {
        font-family: "Domine", serif;
        font-size: 16px;
        line-height: 16px;
        color: #531212;
    }
}
@media only screen and (min-width: 992px) {
    .banner_video {
        height: 504px;
    }
}
@media only screen and (min-width: 768px) {
    .banner_video {
            height: 461px;
           
        }    
}
@media only screen and (max-width: 448px) {
    .banner_video {
            height: 226px;
        }
        .banner_video h1 {
            color: #fff;
            font-family: "Domine", serif;
            font-size: 32px;
            text-align: center;
            line-height: 42px;
        }
        h3 {
            font-size: 19px;
            line-height: 33px;
        }   
        p {
            font-size: 16px;
            line-height: 28px;
        }
        .about_form {
            padding: 20px 24px 34px 24px;
        }
        .different_bg {
            padding: 48px 32px 77px 22px;
        }
        .different_title h4 {
            font-size: 27px;
            line-height: 44px;
            padding: 15px;
        }
}